<div class="col-md-8">
  <div class="center jumbotron">
  <h1>Brunch Finder</h1>
  <p>
    This is the home page for a brunch finder in Buenos Aires.
  </p>

  <!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> -->
  <%= link_to "Add brunch place", new_restaurant_path, class: "btn btn-lg btn-primary" %>
  <%= link_to 'Pick for me', {:controller => "restaurants", :action => "index", :random => true}, class: "btn btn-lg btn-primary" %>
  <% if @filter %>
    <%= link_to "Show all", root_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <br>
  <br>
  <form class="" action="/restaurants" method="get">
    <input type="text" name="restaurant[name]" placeholder="Search for a restaurant...", data-behavior="find", value="">
    <input type="hidden" name="restaurant[id]" id="find_restaurant_id" value="">
    <input type="submit" name="commit" value="Search" class="btn btn-primary">
  </form>
  <br>
  <br>
  <br>
  <br>
  <% javascript_include_tag "restaurants_to_map" %>
  <%= content_tag :div , id: "coordinates-div", data: {coordinates: @restaurants} do %>
  <% end %>
  <div id="map"></div>
</div>
</div>
